<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-icon name="logo-twitter" color="primary" size="large"></ion-icon>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="pulse-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-segment [(ngModel)]="segment" mode="md">
    <ion-segment-button value="home">
      <ion-label>Home</ion-label>
    </ion-segment-button>
    <ion-segment-button value="content">
      <ion-label>content-suggest</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides [options]="options">
    <ion-slide *ngFor="let tweet of tweets">
      <ion-avatar>
        <img [src]="tweet.img">
      </ion-avatar>
    </ion-slide>
  </ion-slides>

  <div *ngIf="segment == 'home'">
    <app-tweet *ngFor="let tweet of tweets"></app-tweet>
  </div>

  <div *ngIf="segment == 'content'">
    Other content
  </div>

</ion-content>
